<div class="main-holder">
    <div class="logo"><a id="link" routerLink="/home">LEXA</a> </div>
    <div class="path-list">
        <div><a id="link" routerLink="/home">Home</a></div>
        <div><a id="link" routerLink="/rent">Rent</a></div>
        <div><a id="link" routerLink="/land">Land</a></div>
        <div><a id="link" routerLink="/agent">Agent</a></div>
        <div><a id="link" routerLink="/contact-us">Contact Us</a></div>

    </div>
    <div class="buy-button" cl>Buy Cars</div>
</div>